name: Python CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.6", "3.7", "3.8" ]
        neo4j-version: [ "3.5", "4.0", "4.1", "4.2", "4.3", "4.4" ]
        spark-version: [ {short: "3", ext: "3.0.1", scala: "2.12"}, {short: "3", ext: "3.1.1", scala: "2.12"}, {short: "3", ext: "3.2.0", scala: "2.12"} ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: avides/actions-project-version-check@v1.2.0
        id: version
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file-to-check: pom.xml
          only-return-version: true
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pypandoc six tzlocal==2.1
          pip install pyspark==${{ matrix.spark-version.ext }} "testcontainers[neo4j]"
      - name: Build artifact
        env:
          CI: true
        run: |
          mvn clean package -Pspark-${{ matrix.spark-version.short }} -Pscala-${{ matrix.spark-version.scala }} -DskipTests --no-transfer-progress
      - name: Run tests for Spark ${{ matrix.spark-version.ext }} and Neo4j ${{ matrix.neo4j-version }}
        if: ${{ !(matrix.spark-version.short == 2.4 && matrix.python-version == 3.8) && !(matrix.spark-version.ext == '3.2.0' && matrix.python-version == 3.5) }}
        run: |
          cd ./python
          export PYTHONPATH=$(pwd)
          python3 ./test/_util_test.py 
          python3 ./test/connector_test.py "${{ steps.version.outputs.version }}" "${{ matrix.neo4j-version }}"
